/* GRID */
.row {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.row-item {
	flex-grow: 1;
}
/************/

@media (min-width: 720px) {
	.row {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.row-item {
		flex-basis: 100%;
	}
}