* {
  padding: 0;
  margin: 0;;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 0 10px #C5CAE9;
  background: #FFFFFF;
  min-height: 8vh;
  padding: 3% 0 6% 0;
}

.link-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 4%;
}
.link-wrapper a {
  text-decoration: none;
  color: #111;
  margin-right: 15px;
  font-size: 21px;
}

.link-wrapper a:hover {
  background-color: #70C1B3;
}

h1 {
  font-size: 45px;
  padding: 20px;
  color: #212121;
}

h2 {
	font-weight: 500;
  font-size: 30px;
  color: #212121;

}

strong {
  font-size: 39px;
  text-decoration: underline;

}

/* Color coded steps */
h3 {
  font-size: 45px;
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 20px;
  background-color: #E80000;
}

#blue-bg {
  background-color: #9AC2C9; /*#003279;*/
}
#yellow-bg {
  background-color: #FFCB47; /*#FCE000;*/
}
#red-bg {
  background-color: #1E5643; /*#3D8C00;*/
}
/******************************/

p {
  font-size: 15px;
  line-height: 23px;
  padding: 0 8% 0 8%;
  color: #212121;
}

section {
	border: 5px solid #efefef;
	padding: 1% 0;
}

.jumbotron h2 {
  color: #FFFFFF;
  font-size: 33px;
  line-height: 54px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #50514F;
  padding: 4% 0 2% 0;
  margin: 0 0 30px 0;
  box-shadow: 0 0 10px 0 #50514F;
}

button {

  padding: 10px;
  border-radius: 10px;
  background-color: #950000; /*#E80000;*/
  border: 0;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}
form {
  margin: 2% 0 0 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #950000; /*#E80000;*/
  border: 0;
  font-size: 40px;
  color: #FFFFFF;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(28, 37, 65, 0.5), rgba(0, 0, 0, 0));
}

.staff-images {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 1% 0;
}

.staff-images img {
	max-width: 100%;
}

/* Page specific grid layout */

.row {
	margin: 0 0 1% 0;
}

/*****************************/

@media (min-width: 720px) {
	nav {
  		flex-direction: row;
		justify-content: space-between;
		padding: 1% 0;
	}

	.staff-images img {
		max-width: 50%;
	}
}