* {
  padding: 0;
  margin: 0;;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  box-shadow: 10px 0 10px #C5CAE9;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.link-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.link-wrapper a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
  font-size: 21px;
}

.link-wrapper a:hover {
  background-color: #70C1B3;
}

h1 {
  font-size: 45px;
  padding: 20px;
  color: #212121;
}

h2 {
  font-size: 30px;
  color: #212121;
}

strong {
  font-size: 39px;
  text-decoration: underline;

}

h3 {
  font-size: 45px;
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 20px;
  background-color: #E80000; /*FCE000 */ /*#E80000 */ /*#003279*/
}

#blue-bg {
  background-color: #003279;
}
#yellow-bg {
  background-color: #FCE000;
}
#red-bg {
  background-color: #3D8C00;
}

p {
  font-size: 15px;
  line-height: 23px;
  padding: 0 10% 0 10%;
  color: #212121;
}

.jumbotron h2 {
  color: #FFFFFF;
  font-size: 33px;
  padding: 20px;
  margin: 0 6% 1% 6%;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #50514F;
  padding: 4% 0 2% 0;
  margin: 0 0 30px 0;
  box-shadow: 0 0 10px 0 #50514F;
}

button {
  margin: 4% 0 0 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #E80000;
  border: 0;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}
form {
  margin: 4% 0 0 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #E80000;
  border: 0;
  font-size: 40px;
  color: #FFFFFF;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(28, 37, 65, 0.5), rgba(0, 0, 0, 0));
}