* {
  padding: 0;
  margin: 0;;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  background: #efefef;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;

}

.link-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.link-wrapper a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

h1 {
  padding: 20px;
}

.jumbotron h2 {
  background-color: rgba(255, 255, 255, .5);
  padding: 20px;
  margin: 0 6% 1% 6%;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #e7e7e7;
  padding: 4% 0 2% 0;
}

button {
  margin: 4% 0 0 0;
  padding: 1%;
  border-radius: .5em;
  background-color: white;
  border: 0;
  font-size: 40px;
}

.grid {
  border: 1px solid #e7e7e7;
}

.grid-row {
  display: flex;;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.grid-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 12px;
  margin: 12px;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
}